body {
    max-width: 1024px;
    margin: auto;
    display: grid;
    /* grid-template-columns: 1fr 2fr; */
    background-color: rgb(29, 28, 28);
    color: white;
}

.text_desc {
    margin: 15px;
    padding: 15px;
    font-family: 'Franklin Gothic Medium' sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* font-family: "JetBrainsMono",sans-serif; */
}

#calc {
    max-width: 500px;
    height: 550px;
    padding: 20px;
    background-color: #000;
    margin: auto;
    margin-top: 20px;
    border: 1px solid gold;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    user-select: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.history {
    display: grid;
    justify-content: end;
    align-items: end;
    padding-right: 10px;
    height: 20px;   
}

.input {
    height: 60px;
    padding: 10px;
    display: grid;
    justify-content: end;
    align-items: end;
    margin-bottom: 5px;
}

.input p {
    font-size: 2rem;
    margin: 0;
    overflow: hidden;
}

.btn_all {
    display: grid;
    grid-template-areas: 
    "clear back per log"
    "open close degree divide"
    "seven eight nine multi"
    "four five six plus"
    "one two three minus"
    "zero zero dot equal";
    grid-gap: 5px;
    justify-items: center;
}

.btn {
    width: 50px;
    height: 50px;
    color: white;
    padding: 5px;
    margin: 0px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
}

#zero {
    grid-area: zero;
    width: 100%;
    border-radius: 40px;
}

.btn {
    margin: 5px;
    background-color: #333;
    border-radius: 50%;
    font-weight: bold;
}

#grey {
    background-color: #a6a6a6;
}

#grey:hover {
    filter: brightness(120%);
}

.bg-orange {
    background: #ff9501;
}

.btn:hover {
    background-color: rgb(60, 59, 59);
}

.bg-orange:hover {
    background: #ff9501;
    filter: brightness(110%);
}

.btn:active {
    font-size: 15px;
}

